{%extends 'base.html'%} {%block content%}
<table class="w-full text-sm text-left  text-gray-400">
  <thead class="text-xs uppercase bg-gray-700 text-gray-400">
    <tr class="">
      <td class="px-6 py-3">No</td>
      <td class="px-6 py-3">Produk</td>
      <td class="px-6 py-3">Bahan</td>
      <td class="px-6 py-3">warna</td>
      <td class="px-6 py-3">ukuran</td>
      <td class="px-6 py-3">qty</td>
      <td class="px-6 py-3">harga</td>  
      <td class="px-6 py-3">jumlah</td>
      <td class="px-6 py-3">Nama Penulis</td> 
      <td class="px-6 py-3">Actions</td>
    </tr>
  </thead>
  <tbody>
    <tr {% for po in preorder%} class=" bg-gray-800 border-gray-700">
      <td class="px-6 py-4 bg-gray-800 border-gray-700">1</td>
      <td class="px-6 py-4 bg-gray-800 border-gray-700">{{po.produk}}</td>
      <td class="px-6 py-4 bg-gray-800 border-gray-700">{{po.bahan}}</td>
      <td class="px-6 py-4 bg-gray-800 border-gray-700">{{po.warna}}</td>
      <td class="px-6 py-4 bg-gray-800 border-gray-700">{{po.ukuran}}</td>
      <td class="px-6 py-4 bg-gray-800 border-gray-700">{{po.qty}}</td>
      <td class="px-6 py-4 bg-gray-800 border-gray-700">{{po.harga}}</td>   
      <td class="px-6 py-4 bg-gray-800 border-gray-700">{{po.jumlah}}</td>   
      <td class="px-6 py-4 bg-gray-800 border-gray-700">{{po.nama_penulis}}</td>
      <td class="px-6 py-4 bg-gray-800 border-gray-700"><a href="#" class="btn btn-sm btn-info text-slate-100">Lihat</a></td>
    </tr {%endfor%}>
  </tbody>
</table>

{%endblock%}
